body{
	margin: 0;
	background-color: white;
	font-family: 'Lora', serif;
}

/* Header */
#header-nav{
	background-color: #4D774E;
	border-radius: 0;
	border: 0;
	border-bottom: 3px solid black;
}

h1{
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px;
	margin: 10px;
}

#nav-list{
	margin-top: 10px;
}
#nav-list a {
	color: black;
	text-align: center;
}
#nav-list a:hover{
	background: #E7E7E7;
}
#nav-list a span{
	font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid darkblue;
}

.navbar-header button.navbar-toggle{
	clear: both;
	margin-top: -50px;
	border: 2px solid darkblue;
}

/* Main Content */

#main-heading{
	color: black;
	text-align: center;
	font-size: 36px;
	margin: 15px;
}

.container{

}

#main-box{
	border: 15px solid white;
	background-color: lightgrey;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.tile{
	margin: 0;
	padding: 15px;
	border: 3px solid black;
}

#t1,#t2,#t3{
	text-align: center;
	margin: 0 10px 10px 10px;
	font-weight: bold;
	font-size: 28px;
}

#main-box p{
	font-size: 16px;
}


/* Large devices */

@media(min-width: 992px){
	#nav-list{
		display: none;
	}
}

/* Medium size devices */

@media(min-width: 768px) and (max-width: 991px){
	#nav-list{
		display: none;
	}
}

/* Small sized devices */

@media(max-width: 767px){}
